* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

.navbar {
	display: flex;
	align-items: center;
	padding: 30px;
}

nav {
	flex: 1;
	text-align: right;
}

nav ul {
	display: inline-block;
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	padding: 10px;
}

a {
	text-decoration: none;
	color: #555;
}

p {
	color: #555;
}

.container {
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}


.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col-2 {
	flex-basis: 50%;
	min-width: 300px;
}

.col-2 img {
	max-width: 100%;
	padding: 50px 0;
}

.col-2 h1 {
	font-size: 50px;
	line-height: 40px;
	margin: 25px 0;
}

.btn {
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}

.btn:hover {
	background: #fff;
	;

}

.header {
	background: radial-gradient(#fff, #ffd6a6);
}

.header row {
	margin-top: 70px;
}

#small-container {
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.col-4 {
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5;
}

.col-4 img {
	width: 100%;
}

.title {
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}

.title::after {
	content: '';
	background: #ff523b;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}

h4 {
	color: #555;
	font-weight: normal;
}

.col-4 p {
	font-size: 14px;
}

.rating .fa {
	color: #ff523b;
}

.col-4:hover {
	transform: translateY(-5px);
}

.cart ion-icon {
	vertical-align: bottom;
	font-size: 20px;
}

.cart a {
	background-color: white;
	cursor: pointer;
	text-decoration: none;
}

.add-cart {
	position: absolute;
	background-color: rgb(255, 255, 255);
	transition: all 0.3s ease-in-out;
	opacity: 1;
	cursor: pointer;
	text-align: center;
	color: #555;
	font-weight: normal;
}


.img:hover .cart1,
.img:hover .cart2,
.img:hover .cart3,
.img:hover .cart4 {
	bottom: 50px;
	opacity: 1;
	padding: 10px;
	text-decoration: none;
}

/* CART PAGE CSS*/

.products-container {
	max-width: 650;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 50px;
}

.products-container ion-icon {
	font-size: 25px;
	color: blue;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.product-header {
	width: 100%;
	max-width: 650px;
	display: flex;
	justify-content: flex-start;
	border-bottom: 4px solid #ff523b;
	margin: auto;
}

.product-title {
	width: 45%;
}

.price {
	width: 25%;
	display: flex;
	align-items: center;
}

.quantity {
	width: 30%;
	display: flex;
	align-items: center;
}


.total {
	width: 10%;
	display: flex;
	align-items: center;
}

/* BORDER PART*/
/*
.product {
	width: 45%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #ff523b;
}

/* PRODUCT PICTURE*/
/*
.products {
	width: 100%;
}
.products img{
    width: 75px;
}
*/

.products-container {
	max-width: 650px;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 50px;
}

.products-container h1 {
	font-size: 25px;
	color: #d0611e;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	padding: 10px;
}

.product-header {
	width: 100%;
	max-width: 650px;
	display: flex;
	justify-content: flex-start;
	border-bottom: 4px solid black;
	margin: 0 auto;
}

.product-title {
	width: 45%;
}

.price {
	width: 15%;
	display: flex;
	align-items: center;
}

.quantity {
	width: 30%;
	display: flex;
	align-items: center;
}

.total {
	width: 10%;
	border-bottom: 1px solid grey;
	display: flex;
	align-items: center;
}

.product {
	width: 45%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
}

.products {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.products img {
	width: 75px;
}

.basketTotalContainer {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	gap: 10px;
}